*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --custom-cyan: #0ef;
    --custom-dark: #081b29;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--custom-dark);
}

.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid var(--custom-cyan);
    overflow: hidden;
    box-shadow: 0 0 25px var(--custom-cyan);
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .login{
    left: 0;
    padding: 0 60px 0 40px;
    color: #fff;
}
.wrapper .login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}
.wrapper.active .login .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper .register{
    right: 0;
    padding: 0 40px 0 60px;
    color: #fff;
}

.wrapper.active .register{
    pointer-events: auto;
}

.wrapper .register .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));

}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    font-weight: 500;
    padding-right: 23px;
    color: #fff;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom-color: var(--custom-cyan);
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #0ef;
}

.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font: 18px;
}

.input-box input:focus~i,
.input-box input:valid~i{
    color: var(--custom-cyan);
}

.btn-login{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid var(--custom-cyan);
    border-radius:40px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}

.btn-login::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(var(--custom-dark), var(--custom-cyan),var(--custom-dark), var(--custom-cyan));
    z-index: -1;
    transition: .5s;
}

.btn-login:hover::before{
    top: 0;
}

.form-box .logreg-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 10px;
}

.form-box .logreg-link p a{
    color: var(--custom-cyan);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.logreg-link p a:hover{
    text-decoration: underline;
}


.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

.wrapper .info-text.log{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper .info-text.log .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}
.wrapper.active .info-text.log .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}


.wrapper .info-text.reg{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
    /* display: none; */
}

.wrapper.active .info-text.reg{
    pointer-events: auto;
}

.wrapper .info-text.reg .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.reg .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.info-text h2{
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p{
    font-size: 16px;
    color: #fff;
}

.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, var(--custom-dark), var(--custom-cyan));
    transform: rotate(10deg) skewY(40deg);
    /* transform: rotate(0) skewY(0); */
    transform-origin: bottom right;
    border-bottom:3px solid var(--custom-cyan);
    transition: 1.5s ease;
    transition-delay: 1.6s;
}
.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .5s;

}
.wrapper .bg-animate2{
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: var(--custom-dark);
    border-top:3px solid var(--custom-cyan);
    /* transform: rotate(-11deg) skewY(-41deg); */
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.wrapper.active .bg-animate2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}