<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>arriendofinca | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <!-- fa fa -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/bg-grid.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'js/base.js' %}" defer></script>
    </head>
    <body class="bg-grid">
        <header class="p-3 bg-light">
            <section class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <section class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt="Logo.png" class="img-thumbnail logo-header"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <article class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-search text-blue"></i> Buscar inmuebles</a></li>
                                <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-plus text-blue"></i> Publicar inmueble</a></li>
                            </ul>
                            <article class="d-flex align-items-center">
                                <a href="" class="btn bg-tt-orange text-white me-2">Editar cuenta</a>
                                <a href="" class="btn bg-tt-violet">Cerrar sesión</a>
                            </article>
                        </article>
                    </section>
                </nav>
            </section>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="bg-body-tertiary text-center text-lg-start bg-tt-orange text-white py-4">
            <section class="container">
                <section class="row">
                    <article class="col-lg-4">
                        <h4 class="mb-3 fw-bold">Arriendofinca.com</h4>
                        <p>
                            <i class="fa fa-user-o"></i><strong> William Montoya</strong><br>
                            <i class="fa fa-code"></i><strong> David Mojíca</strong><br>
                            <i class="fa fa-phone"></i> 300 6159008 <br>
                            <i class="fa fa-envelope"></i> arriendofinca@gmail.com
                        </p>
                    </article>
                    <article class="col-lg-4 mt-4 mt-lg-0">
                        <h4 class="mb-3 fw-bold">Somos empresa de desarrollo</h4>
                        <p>
                            Cotice sus sitios y aplicaciones web con nosotros.<br>
                            Solicite información en cualquiera de los correos dados.
                        </p>
                    </article>
                    <article class="col-lg-4 mt-4 mt-lg-0 text-center">
                        <img src="{% static 'img/logo.png' %}" alt="" class="img-thumbnail logo-footer">
                    </article>
                </section>
            </section>
        </footer>
    </body>
</html>