{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/green-switch.css' %}">
<link rel="stylesheet" href="{% static 'css/busqueda.css' %}">
<script src="{% static 'js/API_municipios.js' %}" defer></script>
<!-- SwiperJS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
<script src="{% static 'js/swiper.js' %}" defer></script>
<!-- Misc -->
<script src="{% static 'js/utils.js' %}" defer></script>
<script src="{% static 'js/default_pics.js' %}" defer></script>
<main>
    <!-- Filtro -->
    <section id="filterContainer" class="m-auto card p-4 col-sm-12 col-md-3 col-lg-3 rounded-lg base my-5">
        <form action="" method="GET" class="text-center filter-form">
            <h2 class="text-orange font-weight-bold">Volver a buscar</h2>
            <fieldset class="mb-1 text-start">
                <small class="text-muted ms-2 text-start">{{form.tipo_inmueble.label_tag}}</small>
                {{form.tipo_inmueble}}
            </fieldset>
            <fieldset class="mb-1 text-start">
                <small class="text-muted ms-2 text-start">{{form.arriendo_venta.label_tag}}</small>
                {{form.arriendo_venta}}
            </fieldset>
            <fieldset class="mb-1 text-start">
                <small class="text-muted ms-2 text-start">{{form.departamento.label_tag}}</small>
                {{form.departamento}}
            </fieldset>
            <fieldset class="mb-1 text-start">
                <small class="text-muted ms-2 text-start">{{form.municipio_ubicacion.label_tag}}</small>
                {{form.municipio_ubicacion}}
            </fieldset>
            <fieldset class="text-center mt-4">
                {{form.solo_certificados.label}}
                <label class="green-switch">
                    {{form.solo_certificados}}
                    <span class="slider"></span>
                </label> <br>
                <button type="submit" class="btn bg-tt-orange mt-3 text-white">Volver a buscar</button>
            </fieldset>
        </form>
    </section>
    <!-- EndFiltro -->

    <section class="w-75 row justify-content-center m-auto mb-3">
        <aside class="col-sm-0 col-md-3">
            <form action="" method="POST" class="aside-form bg-light bg-gradient card p-2 text-center justify-content-center">
                <h4 class="text-orange fw-bold">Características</h4>
                <fieldset class="mb-1 text-start">
                    <small class="text-muted ms-2">
                        {{form_filtro.precio_min.label_tag}}
                    </small>
                    {{form_filtro.precio_min}}
                </fieldset>
                <fieldset class="mb-1 text-start">
                    <small class="text-muted ms-2">
                        {{form_filtro.precio_max.label_tag}}
                    </small>
                    {{form_filtro.precio_max}}
                </fieldset>
                <fieldset class="mb-1 text-start">
                    <small class="text-muted ms-2">
                        {{form_filtro.habitaciones.label_tag}}
                    </small>
                    {{form_filtro.habitaciones}}
                </fieldset>
                <fieldset class="mb-1 text-start">
                    <small class="text-muted ms-2">
                        {{form_filtro.banios.label_tag}}
                    </small>
                    {{form_filtro.banios}}
                </fieldset>
                <fieldset class="mb-1 text-start">
                    <small class="text-muted ms-2">
                        {{form_filtro.area_min.label_tag}}
                    </small>
                    {{form_filtro.area_min}}
                </fieldset>
                <fieldset class="mb-1 text-start">
                    <small class="text-muted ms-2">
                        {{form_filtro.area_max.label_tag}}
                    </small>
                    {{form_filtro.area_max}}
                </fieldset>
                {% csrf_token %}
                <input type="hidden" name="filter_secondary">
                <button type="submit" class="btn bg-tt-orange mt-3 text-white">Aplicar filtros</button>
            </form>
        </aside>

        <section class="col-sm-10 col-md-9 text-center bg-light bg-gradient rounded" id="seccion-inmuebles">
            <h1 class="text-orange">Resultados de la búsqueda</h1>
            
            {% if inmuebles %}
                <!-- Paginacion -->
                <article class="pagination justify-content-center mt-2">
                    <ul class="pagination">
                        {% if inmuebles.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ inmuebles.previous_page_number }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">Página {{ inmuebles.number }} de {{ inmuebles.paginator.num_pages }}</span>
                        </li>

                        {% for i in inmuebles.paginator.page_range %}
                            {% if i >= inmuebles.number|add:"-3" and i <= inmuebles.number|add:"3" %}
                                <li class="page-item {% if inmuebles.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if inmuebles.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ inmuebles.next_page_number }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ inmuebles.paginator.num_pages }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </article>
                <!-- End paginacion -->
                <section id="results" class="row p-4 gap-4 justify-content-center">
                    {% for inmueble in inmuebles%}
                        <section class="card col-sm-12 col-md-10 col-lg-8 col-xl-4 col-xxl-4 col-md-offset-2 h-100">
                            <article class="inmueble-container">
                                <section class="text-center pic-container">
                                    {% if inmueble.imagenes.all %}
                                        <article class="swiper imgSwiper">
                                            <section class="swiper-wrapper">
                                                {% for imagen in inmueble.imagenes.all %}
                                                    <article class="swiper-slide image-container">
                                                        <img src="{{ imagen.img.url }}" alt="Imagen del Inmueble" class="image inmueble-pic img-thumbnail rounded img-fluid card-img-top mt-2">
                                                    </article>
                                                {% endfor %}
                                            </section>
                                            <article class="swiper-pagination"></article>
                                        </article>
                                    {% else %}
                                        <i class='bx bx-image default-inmueble-pic inmueble-pic img-thumbnail card-img-top mt-2'></i>
                                    {% endif %}    
                                </section>
                                <section class="card-body">
                                    {% if inmueble.certificado %}
                                        <span class="badge bg-tt-orange text-wrap mb-2">{{inmueble.certificado.tipo}} 
                                            {% if inmueble.certificado.tipo.id == 0 %}
                                                <i class='bx bx-check-shield'></i>
                                            {% elif inmueble.certificado.tipo.id == 1 %}
                                                <i class='bx bx-building-house'></i>
                                            {% elif inmueble.certificado.tipo.id == 2 %}
                                                <i class='bx bxs-dock-top' ></i>
                                            {% elif inmueble.certificado.tipo.id == 3 %}
                                                <i class='bx bxs-dock-top' ></i>
                                            {% else %}
                                                <i class='bx bx-x-circle' ></i>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if inmueble.destacados %}
                                        <span class="badge bg-tt-orange text-wrap mb-2">Inmueble Destacado <i class='bx bx-medal' ></i></span>
                                    {% endif %}
                                    <h5 class="card-title">
                                        {{ inmueble.tipo_inmueble.singular }} en {{inmueble.arriendo_venta}}
                                    </h5>
                                    <small>{{inmueble.municipio_ubicacion}} - {{inmueble.municipio_ubicacion.departamento}} - {{inmueble.municipio_ubicacion.departamento.pais}}</small>
                                    
                                    <p class="card-text">
                                        Precio {{inmueble.tipo_cobro.temporizar}}
                                        $<strong class="precio">{{inmueble.precio}}</strong>
                                    </p>
                                </section> 
                                <section class="bg-white justify-content-evenly row border-top">
                                    <article class="col-6 ">
                                        <small class="text-muted">Habitaciones</small>
                                        <p class="text-orange">{{inmueble.habitaciones}}</p>
                                    </article>
                                    <article class="col-6">
                                        <small class="text-muted">Baños</small>
                                        <p class="text-orange">{{inmueble.banios}}</p>
                                    </article>
                                    <article class="col-6">
                                        <small class="text-muted">Área</small>
                                        <p class="text-orange">{{inmueble.area}} m²</p>
                                    </article>
                                    <article class="col-6">
                                        <small class="text-muted">Área construida</small>
                                        <p class="text-orange">{{inmueble.area_construida}} m²</p>
                                    </article>
                                </section>
                                <section class="border-top d-flex align-items-center justify-content-center py-2">
                                    <a href="{% url 'detalles_inmueble' inmueble_id=inmueble.id %}" class="btn bg-tt-orange text-white">Ver detalles</a>
                                </section>
                            </article>
                        </section>
                    {% endfor %}
                </section>
                <!-- Paginacion -->
                <article class="pagination justify-content-center mt-2">
                    <ul class="pagination">
                        {% if inmuebles.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ inmuebles.previous_page_number }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <span class="page-link">Página {{ inmuebles.number }} de {{ inmuebles.paginator.num_pages }}</span>
                        </li>

                        {% for i in inmuebles.paginator.page_range %}
                            {% if i >= inmuebles.number|add:"-3" and i <= inmuebles.number|add:"3" %}
                                <li class="page-item {% if inmuebles.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if inmuebles.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ inmuebles.next_page_number }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ inmuebles.paginator.num_pages }}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.arriendo_venta %}&arriendo_venta={{request.GET.arriendo_venta}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio_ubicacion %}&municipio_ubicacion={{request.GET.municipio_ubicacion}}{% endif %}#seccion-inmuebles" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </article>
                <!-- End paginacion -->
            {% else %}
                <h4 class="display-5">Sin resultados</h4>
            {% endif %}
        </section>
    </section>
</main>
{% endblock %}