{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- SwiperJS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/swiper-details.css' %}">
<script src="{% static 'js/swiper.js' %}" defer></script>
<!-- POPUP -->
<link rel="stylesheet" href="{% static 'css/modal_img.css' %}">
<script src="{% static 'js/modal_img.js' %}" defer></script>

<main class="col col-md-8 m-auto row bg-white h-75 py-5 my-5 broder rounded overflow-auto">
    <section class="col-md-6 text-center d-flex flex-column justify-content-around ">
        <section class="">
            <h3 class="text-orange">{{ inmueble.tipo_inmueble.singular }} en {{inmueble.arriendo_venta}}</h3>
            {% if inmueble.descripcion %}
                <p class="text-muted">{{inmueble.descripcion}}</p>
            {% else %}
                <p class="text-muted">Este inmueble no tiene descripción.</p>
            {% endif %}
        </section>
        <article class="mx-2 row text-center">
            <h3 class="text-orange">Detalles del interior</h3>
            <article class="col-3 text-center border">
                <small class="text-muted">Habitaciones</small>
                <p class="text-orange">{{inmueble.habitaciones}}</p>
            </article>
            <article class="col-3 text-center border">
                <small class="text-muted">Baños</small>
                <p class="text-orange">{{inmueble.banios}}</p>
            </article>
            <article class="col-3 text-center border">
                <small class="text-muted">Área</small>
                <p class="text-orange">{{inmueble.area}} m²</p>
            </article>
            <article class="col-3 text-center border">
                <small class="text-muted">Área construida</small>
                <p class="text-orange">{{inmueble.area_construida}} m²</p>
            </article>
        </article>
        
        <article>
            <h3 class="text-orange">Contacto</h3>
            <article class="text-center ms-4">
                <p class="text-muted"><i class='bx bx-envelope'></i> {{inmueble.duenio.email}}</p>
                <p class="text-muted">
                    <i class='bx bxs-phone-call' ></i> {{inmueble.duenio.celular}}
                    {% if inmueble.duenio.permitir_whatsapp %}
                        <a href="https://api.whatsapp.com/send/?phone=57{{inmueble.duenio.celular}}" class="btn btn-success btn-sm p-2 ms-2"><i class='bx bxl-whatsapp' ></i> Chat WhatsApp <i class="bx bx-whatsapp"></i></a>
                    {% endif %}
                </p>
            </article>
        </article>
    </section>


    <section class="col-md-6 d-flex flex-column justify-content-around">
        {% if inmueble.certificado %}
        {% else %}
            <section class="alert alert-warning text-center w-75 m-auto mt-4" role="alert">Este inmueble no está certificado por Arriendofinca.com</section>

        {% endif %}
        <section class="text-center pic-container">
            {% if inmueble.imagenes.all %}
                <article class="swiper imgSwiper">
                    <section class="swiper-wrapper">
                        {% for imagen in inmueble.imagenes.all %}
                            <article class="swiper-slide image-container">
                                <img src="{{ imagen.img.url }}" alt="Imagen del Inmueble" class="image inmueble-pic img-thumbnail rounded img-fluid card-img-top mt-2">
                            </article>
                        {% endfor %}
                    </section>
                    <article class="swiper-pagination"></article>
                </article>
            {% else %}
                <i class='bx bx-image default-inmueble-pic inmueble-pic img-thumbnail card-img-top mt-2'></i>
            {% endif %}    
        </section>
        <section class="text-center mt-2">
            <h4 class="card-text">
                Precio {{inmueble.tipo_cobro.temporizar}}
                $<strong class="precio">{{inmueble.precio}}</strong>
            </h4>
        </section>
    </section>
</main>
{% endblock %}