{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/FAQS.css' %}">

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<section class="bg-light row justify-content-center align-items-center gap-5 py-5 me-0">
    <article class="col-sm-10 col-lg-3 row justify-content-center">
        <lottie-player src="https://lottie.host/f7936a61-536b-4483-adcb-d96c1afd2e7a/jtRVFzcqMf.json" class="lottie-md" background="##FFFFFF" speed="1" loop autoplay direction="1" mode="normal"></lottie-player>
    </article>
    <article class="col-sm-10 col-lg-4  row justify-content-center">
        <h1 class="fw-bold text-orange text-center">FAQs</h1>
        <p class="text-wrap text-muted w-lg-50 m-auto text-start">¿Tienes dudas sobre alguno de nuestros servicios? Aquí podrás encontrar respuestas útiles y también instrucciones para ayuda personalizada y soporte de arriendofinca.com</p>
    </article>
</section>

<!-- Certificacion -->
<section class="bg-tt-orange row justify-content-center text-center py-5 me-0">
    <h2 class="text-white fw-bold">Certificación de inmuebles</h2>
    <section class="col-lg-8 row justify-content-center">
        <article class="my-3 row">
            <section class="col-lg-6 my-2">
                <h4 class="text-white fw-bold">¿Qué es la certificación?</h4>
                <p class="text-white col col-10 m-auto text-start w-100">
                    La certificación es un proceso mediante el cual arriendofinca.com se segura de que los inmuebles, los beneficios de los inmuebles,
                    las características de los inmuebles y todo lo que describe el propietario en la publicación de su inmueble es información real y al día. 
                    También nos aseguramos de que los pepeles de inmueble estén en orden y sean aptos para ser transferidos a un nuevo comprador sin ningún riesgo adicional.
                </p>
            </section>
            <section class="col-lg-6 my-2">
                <h4 class="text-white fw-bold">¿Se puede editar un inmueble después de certificar?</h4>
                <p class="text-white col col-10 m-auto text-start w-100 ">
                    No, no se pueden modificar los datos de un inmueble desde que el inmueble se inscribe al proceso de certificación para dar mayor seguridad al comprador.
                    Con esto evitamos el envío de información falsa en nombre de un inmueble certificado o en proceso de certificación.
                </p>
            </section>
        </article>

        <article class=" row justify-content-center">
            <section class="col-lg-6 my-2">
                <h4 class="text-white fw-bold">¿Cómo puedo inscribir mi propiedad al proceso de certificación?</h4>
                <p class="text-white m-auto text-start">
                    En el área de usuario aparecen los inmuebles que has creado previamente. Tienen 3 opciones: borrar, modificar o certificar. 
                    Debes de dar click en la opción de 'certificar', te aparecerá una ventana con información que debes leer sobre la certificación y debes de confirmar
                    haber leído toda información y sus consecuencias en caso de que detectemos alguna irregularidad en el inmueble o en sus documentos. <br>
                    Cuando confirmes, nos llegará una notificación de que quieres certificar una propiedad y nosotros te estaremos respondiendo lo más pronto posible
                    al correo que tienes registrado en la plataforma con todos los detalles y cotizaciones.
                </p>
            </section>
            <section class="col-lg-6 my-2">
                <lottie-player src="https://lottie.host/d324513d-bbc8-49e6-89f8-c555fd07bd82/9VorlQoUQ6.json" class="lottie-md m-auto" background="##FFFFFF" speed=".2" autoplay direction="1" mode="normal"></lottie-player>
            </section>
        </article>
        
        <article class="row">
            <h4 class="text-white fw-bold">¿Cómo se certifica la propiedad?</h4>
            <p class="text-white col col-10 m-auto text-sm">
                En arriendofinca hay 2 formas de certificar, de forma presencial o de forma virtual. 
            </p>
            <section class="col-lg-6 my-2 ">
                <h4 class="text-white mt-2 fw-bold">Revisión presencial</h4>
                <p class="text-white col col-10 m-auto text-start">
                    Varios agentes de arriendofinca acudirán al inmueble en un horario previamente acordado con el dueño o encargado del inmueble. Durante el proceso se verificará que lo que se describió en el inmueble sea verdad, las características,
                    se verificarán los papeles de la propiedad, se verificará que todo esté al día y si todo está en orden, se le otorgará la insignia 'vendedor confiable' (según las <a href="#tipos_insignias">insignias para usuarios</a> ) que será visible en
                    todos los inmuebles que publiques durante 3 meses (esta insignia se anula si descubrimos alguna irregularidad en alguno de sus inmuebles) y también se le otorgará al inmueble 
                    la insignia de 'completamente verificado', esta dura para siempre. Tenga en cuenta que si borra la propiedad, esta insignia desaparecerá. Actualmente esta opción sólo se encuentra
                    disponible para los inmuebles radicados en la ciudad de Medellín, municipios aledaños y pueblos cercanos a Medellín.
                </p>
            </section>
            <section class="col-lg-6 my-2 ">
                <article class="my-2 ">
                    <h4 class="text-white fw-bold">Revisión virtual</h4>
                    <p class="text-white col col-10 m-auto text-start">
                        De forma virtual, sólo podremos verificar los papeles del inmueble más no el inmueble físico, por lo que si todo sale bien, se le otorgará la insignia de 'papeles al día'
                        únicamente. Los papeles requeridos se los pediremos por correo directamente. Esta opción está disponible para toda Colombia.
                    </p>
                </article>
                <article class="my-2">
                    <h4 class="text-white fw-bold">Precio de certificación.</h4>
                    <p class="text-white col col-10 m-auto text-start">
                        El precio para certificar la propiedad depende mucho del tipo de inmueble a verificar y del tiempo que nos tome llevar a cabo este proceso. La certificación virtual cuesta menos que la presencial,
                        pero la presencial le da más seguridad a los compradores. Las cotizaciones se harán por correo o mediante WhatsApp.
                    </p>
                </article>
            </section>
        </article>

        <article class="row">
            <article class="col-lg-6">
                <lottie-player src="https://lottie.host/4080df7e-6586-4950-b8a4-c08a67b658b0/M4D4Eqbtvg.json" background="transparent" speed="0.2" class="mt-5 lottie-md m-auto" loop autoplay></lottie-player>
                <!-- <lottie-player src="https://lottie.host/87ae1ac7-4237-4089-8f26-6d40937d8e76/WwcB5pV6OG.json" background="##ffffff" class="lottie-md m-auto" speed="1" loop autoplay direction="1" mode="normal"></lottie-player> -->
            </article>
            <article class="col-lg-6">
                <h4 class="text-white fw-bold">¿Que pasa si en el proceso de certificación no logro demostrar todo lo ofrecido en la plataforma?</h4>
                <p class="text-white col col-10 m-auto text-start">
                    Si el inmueble físicamente no cumple con lo ofrecido en la plataforma, arriendofinca en primera instancia le dará a usted la oportunidad de modificar las características, 
                    fotos y detalles del inmueble de forma acorde a la realidad para poder otorgarle la insignia 'Físicamente verificado'. Si se hace caso omiso, pero cumple con los papeles, se le otorgará 'Papeles al día'.
                    Si no cumple con los papeles tampoco, se le otorgará una insignia de 'No verificado' hasta que solucione los inconvenientes respecto al estado físico y legal del inmueble.
                    Si previamente tenía la insignia de 'Comprador Confiable', esta será removida.
                </p>
            </article>
        </article>
        <article class="my-4" id="tipos_insignias">
            <h4 class="text-white fw-bold">Insignias</h4>
            <h5 class="text-white">Insignias para inmuebles</h5>
            <section class="table-responsive">
                <table class="table table-borderless table-light">
                    <caption>Estas insignas aparecerán sólo en inmuebles certificados.</caption>
                    <thead>
                        <tr>
                            <th scope="col" class="text-orange">Descripción</th>
                            <th scope="col" class="text-orange">Insignia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p class="small">Verificación correcta de inmueble y documentos.</p></td>
                            <td><span class="badge bg-tt-orange">100% Certificado <i class='bx bx-check-shield'></i></span></td>
                        </tr>
                        <tr>
                            <td><p class="small">Revisión correcta únicamente del inmueble.</p></td>
                            <td><span class="badge bg-warning">Físicamente verificado <i class='bx bx-building-house'></i></span></td>
                        </tr>
                        <tr>
                            <td><p class="small">Revisión correcta únicamente de documentos.</p></td>
                            <td><span class="badge bg-warning">Documentos al día <i class='bx bxs-dock-top' ></i></span></td>
                        </tr>
                        <tr>
                            <td><p class="small">No se logró verificar ni físicamente ni documentos al día.</p></td>
                            <td><span class="badge bg-danger">No certificado <i class='bx bx-x-circle' ></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            
            <h5 class="text-white">Insignias para usuarios</h5>
            <section class="table-responsive">
                <table class="table table-borderless table-light">
                    <caption>Estas insignias aparecerán en los inmuebles que publiques independientemente de si están certificados o no.</caption>
                    <thead>
                        <tr>
                            <th scope="col" class="text-orange">Descripción</th>
                            <th scope="col" class="text-orange">Insignia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p class="small">Vendedor con por lo menos 1 inmueble certificado.</p></td>
                            <td><span class="badge bg-success">Vendedor confiable <i class='bx bxs-check-circle' ></i></span></td>
                        </tr>
                    </tbody>
                        <tr>
                            <td><p class="small">Vendedor con 3 o más inmuebles certificados.</p></td>
                            <td><span class="badge bg-success">Vendedor muy confiable <i class='bx bxs-badge-check' ></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </article>
    </section>
</section>
<!-- Destacados -->

<section class="bg-tt-orange row justify-content-center text-center py-3 me-0 my-5" id="inmuebles-destacados">
    <h2 class="text-white fw-bold">Inmuebles destacados</h2>
    <section class="col-lg-8 row">
        <article class="my-2 col-lg-6">
            <h4 class="text-white fw-bold">Ventajas</h4>
            <p class="text-white col col-10 m-auto">
                Los inmuebles destacados tendrán chance de aparecer en el inicio de nuestra página. También aparecerán de primeros cuando los compradores busquen inmuebles con las mismas características.
                Para destacar tu inmueble, debes de darle al botón 'Destacar' al inmueble que deseas destacar en el area de usuario.
            </p>
        </article>

        <section class="col-lg-6">
            <article class="my-2">
                <h4 class="text-white fw-bold">Precios</h4>
                <p class="text-white col col-10 m-auto">
                    El precio para destacar tu inmueble es de $20.000 al mes. Esta tarifa se mantendrá para los inmuebles que adquieran el servicio de 'destacar' con nosotros desde el inicio, pero aumentará para inmuebles que 
                    se destaquen despues cuando haya un flujo mayor de usuarios.
                </p>
            </article>
        </section>

        <article class="my-2">
            <h4 class="text-white fw-bold">Duración</h4>
            <p class="text-white col col-10 m-auto">
                El servicio de destacar puede comprarse por un periodo de 1 a 6 meses. Después el efecto desaparece y debe renovarse.
            </p>
        </article>
    </section>
</section>
{% endblock %}
