{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/ToastNotify.css' %}">
<script src="{% static 'js/ToastNotify.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="{% static 'js/login.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/green-switch.css' %}">

<main id="main">
    <section class="wrapper">
        <span class="bg-animate"></span>
        <span class="bg-animate2"></span>
        
        <article class="form-box login">
            <h2 class="animation" style="--i:0; --j:21;">Iniciar Sesión</h2>
            <form action="#" method="POST" id="form-login">
                <fieldset class="input-box animation" style="--i:1; --j:22;">
                    {{LoginForm.username}}
                    {{LoginForm.username.label_tag}}
                    <i class='bx bx-user-pin'></i>
                </fieldset>
                <fieldset class="input-box animation" style="--i:2; --j:23;"> 
                    
                    {{LoginForm.password}}
                    {{LoginForm.password.label_tag}}
                    <i class='bx bx-lock-alt' ></i>
                </fieldset>
                {% csrf_token %}
                <input type="hidden" name="login">
                <button type="submit" class="btn-login animation" style="--i:3; --j:24;">Iniciar Sesión</button>
                <article class="logreg-link animation" style="--i:4; --j:25;">
                    <p>
                        {{error}}
                    </p>
                    <p>
                        No tienes una cuenta?
                        <a href="#main" class="register-link">Regístrate</a>
                    </p>
                </article>
            </form>
        </article>
        
        <article class="info-text log">
            <h2 class="animation" style="--i:0; --j:20;">Hola de nuevo!</h2>
            <p class="animation" style="--i:1; --j:21;">Te estábamos esperando :)</p>
        </article>

        <article class="form-box register">
            <h2 class="animation mt-5" style="--i:17; --j:0;">Registro</h2>
            <form action="#" method="POST" class="row" id="form-register">
                {% csrf_token %}
                <input type="hidden" name="register">
                <article class="col-md-6">
                    <fieldset class="input-box animation" style="--i:18; --j:1;">
                        {{RegisterForm.first_name}}
                        {{RegisterForm.first_name.label_tag}}
                        <i class='bx bxs-id-card'></i>
                    </fieldset>
                </article>
                <article class="col-md-6">
                    <fieldset class="input-box animation" style="--i:18; --j:1;">
                        {{RegisterForm.last_name}}
                        {{RegisterForm.last_name.label_tag}}
                        <i class='bx bx-id-card'></i>
                    </fieldset>
                </article>
                <article>
                    <fieldset class="input-box animation" style="--i:19; --j:2;"> 
                        {{RegisterForm.documento}}
                        {{RegisterForm.documento.label_tag}}
                        <i class='bx bx-hash' ></i>
                    </fieldset>
                </article>
                <article>
                    <fieldset class="animation" style="--i:20; --j:3;"> 
                        {{RegisterForm.tipo_documento}}
                    </fieldset>
                </article>
                <article class="">
                    <fieldset class="input-box animation" style="--i:21; --j:4;"> 
                        {{RegisterForm.username}}
                        {{RegisterForm.username.label_tag}}
                        <i class='bx bx-user-pin'></i>
                    </fieldset>
                </article>
                <article class="">
                    <fieldset class="input-box animation" style="--i:22; --j:5;"> 
                        {{RegisterForm.password}}
                        {{RegisterForm.password.label_tag}}
                        <i class='bx bx-lock-alt' ></i>
                    </fieldset>
                </article>
                <article class="">
                    <fieldset class="input-box animation" style="--i:23; --j:6;"> 
                        {{RegisterForm.email}}
                        {{RegisterForm.email.label_tag}}
                        <i class='bx bx-envelope' ></i>
                    </fieldset>
                </article>
                <article class="col-md-7">
                    <fieldset class="input-box animation" style="--i:24; --j:7;"> 
                        {{RegisterForm.celular}}
                        {{RegisterForm.celular.label_tag}}
                        <i class='bx bxl-whatsapp' ></i>
                    </fieldset>
                </article>
                <article class="col-md-5 mb-3">
                    <fieldset class="animation" style="--i:24; --j:7;"> 
                        <small>{{RegisterForm.permitir_whatsapp.label}}</small>
                        <label class="green-switch">
                            {{RegisterForm.permitir_whatsapp}}
                            <span class="slider"></span>
                        </label>
                    </fieldset>
                </article>
                <button type="submit" class="btn-login animation" style="--i:21; --j:4;">Registrarse</button>
                <article class="logreg-link animation" style="--i:22; --j:5;">
                    <p>
                        ¿Ya tienes una cuenta?
                        <a href="#main" class="login-link">Iniciar Sesión</a>
                    </p>
                </article>
            </form>
        </article>

        <article class="info-text reg">
            <h2 class="animation" style="--i:17; --j:0;">Arriendofinca te da la bienvenida</h2>
            <p class="animation" style="--i:18; --j:1;">La plataforma donde se darán a conocer tus inmuebles :).</p>
        </article>
    </section>
</main>

{% endblock %}