{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- SwiperJS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/user_area.css' %}">
<link rel="stylesheet" href="{% static 'css/modal_img.css' %}">
<script src="{% static 'js/user_area.js' %}" defer></script>
<script src="{% static 'js/API_municipios.js' %}" defer></script>
<script src="{% static 'js/modal_img.js' %}" defer></script>


<main>
    {% if event %}
        <section class="alert alert-{{alert_type}} text-center w-75 m-auto mt-4" role="alert">{{event}}</section>
    {% endif %}
    <section id="filterContainer" class="m-auto card p-4 col-md-6 col-lg-4 rounded-lg base my-5">
        <form action="" method="GET" class="text-center filter-form">
            <h2 class="text-primary font-weight-bold">Encontrar inmueble</h2>
            <fieldset class="input-group mb-3">
                <span class="badge bg-info filter-badge">{{form.id.label_tag}}</span>
                {{form.id}}
            </fieldset>
            <fieldset class="input-group mb-3">
                <span class="badge bg-info filter-badge">{{form.tipo_inmueble.label_tag}}</span>
                {{form.tipo_inmueble}}
            </fieldset>
            <fieldset class="input-group mb-3">
                <span class="badge bg-info filter-badge">{{form.departamento.label_tag}}</span>
                {{form.departamento}}
            </fieldset>
            <fieldset class="input-group mb-3">
                <span class="badge bg-info filter-badge">{{form.municipio.label_tag}}</span>
                {{form.municipio}}
            </fieldset>
            <button type="submit" class="btn btn-primary col-md-5">Filtrar <i class="bx bx-search"></i></button>
        </form>
    </section>

    <section class="bg-light bg-gradient">
        <!-- Inmueble -->
        {% if inmuebles %}
        <section class="container py-3" id="seccion-inmuebles">
            <h1 class="text-center text-primary mt-4">Tus propiedades publicadas</h1>
            <section class="row justify-content-center">
            <!-- Paginacion -->
            <article class="pagination justify-content-center mt-2">
                <ul class="pagination">
                    {% if inmuebles.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ inmuebles.previous_page_number }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">Página {{ inmuebles.number }} de {{ inmuebles.paginator.num_pages }}</span>
                    </li>

                    {% for i in inmuebles.paginator.page_range %}
                        {% if i >= inmuebles.number|add:"-3" and i <= inmuebles.number|add:"3" %}
                            <li class="page-item {% if inmuebles.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if inmuebles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ inmuebles.next_page_number }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ inmuebles.paginator.num_pages }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </article>
            <!-- POPUP MODAL -->
            <section class="popup">
                <article class="top-bar">
                    <p class="image-name">Imagen del inmueble</p>
                    <span class="close-btn"><i class='bx bx-message-square-x' ></i></span>
                </article>
                <img src="" alt="" class="large-image">
                <h1 class="index"></h1>
            </section>
            <!-- End POPUP MODAL -->
            <!-- End paginación -->
            {% for inmueble in inmuebles %}
                <article class="card col-md-4 m-3" style="width:400px;">
                    <section class="text-center pic-container">
                        {% if inmueble.imagenes.all %}
                            <article class="swiper imgSwiper">
                                <section class="swiper-wrapper">
                                    {% for imagen in inmueble.imagenes.all %}
                                        <article class="swiper-slide image-container">
                                            <img src="{{ imagen.img.url }}" alt="Imagen del Inmueble" class="image inmueble-pic img-thumbnail rounded img-fluid card-img-top mt-2">
                                        </article>
                                    {% endfor %}
                                </section>
                                <article class="swiper-pagination"></article>
                            </article>
                        {% else %}
                            <i class='bx bx-image default-inmueble-pic inmueble-pic img-thumbnail card-img-top mt-2'></i>
                        {% endif %}    
                    </section>
                    <section class="card-body">
                        <h4 class="card-title">{{ inmueble.tipo_inmueble }} en {{inmueble.arriendo_venta}}</h4>
                        <small>{{inmueble.municipio_ubicacion}} - {{inmueble.municipio_ubicacion.departamento}} - {{inmueble.municipio_ubicacion.departamento.pais}}</small>
                        <p class="card-text">
                            <strong>${{inmueble.precio}} / {{inmueble.tipo_cobro.temporizar}}</strong>
                        </p>
                        <span class="badge bg-primary">ID Propiedad: {{inmueble.id}}</span>
                    </section> 
                    <section class="card-footer bg-white justify-content-evenly d-flex">
                        <aside>
                            <!-- trigger -->
                            <button class="btn btn-danger btn-sm" title="Borrar inmueble" data-bs-toggle="modal" data-bs-target="#borrarPropiedad-{{ inmueble.id }}"><i class="bx bx-trash"></i></button>
                            <!-- modal -->
                            <section class="modal fade" id="borrarPropiedad-{{ inmueble.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                <article class="modal-dialog modal-dialog-centered">
                                    <article class="modal-content">
                                        <section class="modal-header">
                                            <h5 class="modal-title">Confirmar borrar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </section>
                                        <section class="modal-body">
                                            <p>Al usted borrar esta propiedad, se eliminarán todos los datos relacionados a ella. Si la vuelve a crear despues, se creará con un ID distinto</p>
                                        </section>
                                        <section class="modal-footer ">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="eliminarPropiedad">   
                                                <input type="hidden" name="propiedad_id" value="{{inmueble.id}}">
                                                <button type="submit" class="btn btn-danger">Borrar</button>                             
                                            </form>
                                        </section>
                                    </article>
                                </article>
                            </section>
                            <a href="{% url 'editar_inmueble' inmueble_id=inmueble.id %}" class="btn bg-tt-orange btn-sm" title="Editar inmueble"><i class='bx bx-edit-alt' ></i></a>
                        </aside>
                        <a href="" class="btn btn-success fw-bold btn-sm">Certificar propiedad</a>

                    </section>
                </article>
            {% endfor %}
            </section>
            <!-- Paginacion -->
            <article class="pagination justify-content-center mt-2">
                <ul class="pagination">
                    {% if inmuebles.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ inmuebles.previous_page_number }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">Página {{ inmuebles.number }} de {{ inmuebles.paginator.num_pages }}</span>
                    </li>

                    {% for i in inmuebles.paginator.page_range %}
                        {% if i >= inmuebles.number|add:"-3" and i <= inmuebles.number|add:"3" %}
                            <li class="page-item {% if inmuebles.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if inmuebles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ inmuebles.next_page_number }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ inmuebles.paginator.num_pages }}{% if request.GET.id %}&id={{ request.GET.id }}{% endif %}{% if request.GET.tipo_inmueble %}&tipo_inmueble={{request.GET.tipo_inmueble}}{% endif %}{% if request.GET.departamento %}&departamento={{request.GET.departamento}}{% endif %}{% if request.GET.municipio %}&municipio={{request.GET.municipio}}{% endif %}#seccion-inmuebles" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </article>
            <!-- End paginación -->
        </section>
        {% else %}
            <section class="container text-center py-4">
                <h4 class="fw-bold">No tienes propiedades registradas todavía...</h4>
                <a href="/crear_inmueble" class="btn btn-success">
                    Añade tu primera propiedad! <i class="bx bx-plus"></i>
                </a>
            </section>
        {% endif %}
        <!-- Inmueble end -->
    </section>
</main>

{% endblock %}